<ion-header [translucent]="true" *ngIf="!nivel">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" routerLink="/resultados">
        Resultados
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="cerrarSesion()">
        Salir
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-header [translucent]="true" *ngIf="nivel">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" routerLink="/resultados">
        Resultados
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><span>{{ formatTime() }}</span></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="elegirNivel(0)">
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container background-image">

    <div class="contenedor">
     
      <div class="spinner" *ngIf="cargando">
        <ion-spinner name="circular" ></ion-spinner>
      </div>

      <div class="contenedor-niveles" *ngIf="!nivel && !jugarOtraVez">

       
        <div class="card" (click)="elegirNivel(1)">
          <h2>Nivel Fácil</h2>
        </div>
        
        <div class="card" (click)="elegirNivel(2)">
          <h2>Nivel Medio</h2>
        </div>
        
        <div class="card" (click)="elegirNivel(3)">
          <h2>Nivel Difícil</h2>
        </div>
        <!-- <ion-button (click)="elegirNivel(1)">Facil</ion-button>
        <ion-button (click)="elegirNivel(2)">Medio</ion-button>
        <ion-button (click)="elegirNivel(3)">Dificil</ion-button> -->
      </div>

      <div class="contenedor-carta-animal" *ngIf="nivel == 'fácil'">
        <div  class="carta-animal" *ngFor="let item of cartas" (click)="cambiarDeLado2(item.id)">
          <div class="flip-container-animal" id="{{item.id}}" data-id="{{item.id}}" >
            <div class="flipper-animal" >
              <div class="front-animal">
               
                
                <img src="/assets/signo-de-pregunta.png" alt="">
              </div>
              <div class="back-animal">
                
                <img src="{{item?.urlImagen}}" alt="">
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-cartas-herramienta" *ngIf="nivel == 'medio'">
        <div  class="carta-herramienta"  *ngFor="let item of cartas" (click)="cambiarDeLado2(item.id)">
          <div class="flip-container-herramienta" id="{{item.id}}" data-id="{{item.id}}" >
            <div class="flipper-herramienta" >
              <div class="front-herramienta">
               
                
                <img src="/assets/signo-de-pregunta.png" alt="">
              </div>
              <div class="back-herramienta">
                
                <img src="{{item?.urlImagen}}" alt="">
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-cartas-fruta" *ngIf="nivel == 'difícil'">
        <div  class="carta-fruta"  *ngFor="let item of cartas" (click)="cambiarDeLado2(item.id)">
          <div class="flip-container-fruta" id="{{item.id}}" data-id="{{item.id}}">
            <div class="flipper-fruta" >
              <div class="front-fruta">
               
                
                <img src="/assets/signo-de-pregunta.png" alt="">
              </div>
              <div class="back-fruta">
                
                <img src="{{item?.urlImagen}}" alt="">
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
        
      
      


      
    </div>
    

  </div>
</ion-content>
